body {
    width: 100%;
    background-color: #E5E5E5;
    
}

h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 56px;
    color: #75B79E;
    margin-top: 40px;
    
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card {
    width: 117px;
    height: 146px;
    position: relative;
   

}

.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    position: absolute;
    transition: all 0.5s;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.backFace {
    transform: rotateY(180deg);
}

.card .frontFace {
    transform: rotateY(0deg);
  }

.card .backFace {
    transform: rotateY(-180deg);
  }

  .face img {
    width: 100px;
    height: 100px;
  }

.allCards {
    width: 100%;
    margin-top: 47px;
    display: flex;
    justify-content: center;
    align-items: center;

}



@media (max-width: 614px) {
    h1 {
        font-size: 44px;
    }
}