body {
    width: 100%;
    background-color: #E5E5E5;
    
}

h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 56px;
    color: #75B79E;
    margin-top: 40px;
    
}

.allCards {
    width: 100%;
    height: 360px;
    margin-top: 47px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}


.title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card {
    width: 117px;
    height: 146px;
    margin: 34px;
    position: relative;
   

}

.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: flex;
    position: absolute;
    transition: all 1s;
    backface-visibility: hidden;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;

}

.backFace {
    transform: rotateY(180deg);
}

.card .backFace {
    transform: rotateY(0deg);
  }


.card .frontFace {
    transform: rotateY(-180deg);
  }



  .face img {
    width: 100px;
    height: 100px;
  }





  @media (max-width: 614px) {
    h1 {
        font-size: 44px;
    }

    .allCards {
        flex-direction: column;
        height: fit-content;
        
    }
}